*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
 
body{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#form{
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 50px;
} 

#form a{
    color: white;
}

.sidebar{ 
    position: fixed;
    background: rgb(137, 43, 226);
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

}

.sidebar h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.sidebar ul li{
    margin-top: 25px;
    text-align: center;
    font-size: large;
    
}
 
.sidebar ul li a{
    color: white;
    padding: 5px;

}

.sidebar ul li a:hover{
    color: black;
    margin-left: 0px;
    transition: 0.4s;
    background-color: blueviolet;
    border: 10px solid blueviolet;
    border-radius: 20px;
}

#telegram-logo{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;

}

 #tools{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    
} 

header{
    visibility: visible;
    font-size: 25px;
    margin-left: 200px;
    border: 2px solid transparent;
    text-align: center;
}

#head{
    visibility: visible;
}


img{

    width: calc(100% - 200px);
    height: 150px;
    margin-left: 200px;
} 

footer{
    bottom: 0px;
    margin-left: 200px;
    width: 87%;
    background-color: whitesmoke;
    color:black;
    text-align: center;
    position: fixed;
}


.running-text-container{
    margin-left: 200px;
    overflow: hidden;
    width: calc(100% - 200px);
    background-color: antiquewhite;
    margin-bottom: 10px;
}

#runningtext{
    white-space: nowrap;
    font-size: 30px;
    animation: runText 20s linear infinite;
}


.body-container{
    margin-left: 200px;
    width: calc(100% - 255px);
 
}

#verticalsidecontainer,.faq-container{
    float: left;
    box-sizing: border-box;
}


#announcement{
    text-align: center;
    background-color:rgba(137, 43, 226, 0.444);
    color: white;
}

#verticalside{
    
    animation: verticalSide 15s linear infinite;
    text-align: center;
}

#verticalsidecontainer{
    display: inline-block;
    margin-top: 5px;
    margin-top: 0px; 
    overflow: hidden;
    position: fixed;
    width: 20%;
    height: 450px;
    background-color: #b7d1d3;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    
   
}

#verticalside a{
    color:#6b705c;;
}

#verticalside a:hover{
    color:  rgb(137, 43, 226);
}


.faq-container {
    width: 80%;
}

.faq-question {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.faq-answer {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
}


.infor{
 display: none;
 visibility: hidden;
    
}
.infor2{
    display: none;
    visibility: hidden;
    
}
.infor3{
    display: none;
    visibility: hidden;
    
}

.search-container{
    display: none;
    visibility: hidden;
}

#searchInput{
    display: none;
    visibility: hidden;
}
  
#aaa{
    visibility: hidden;
}


.scroll-container{
    display: none;
    visibility: collapse;
}

.scroll-item{
    display: none;
    visibility: collapse;
}

#btcimg{
    display: none;
    visibility: collapse;
}

#ekname{
    display: none;
}

#categories1{
    display: none;
}

#collections1{
    display: none;
}

.running-text-container2{
    display: none;
}

#runningtext2{
    display: none;
}






@keyframes runText{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes verticalSide{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(-100%);
    }
}

@keyframes selections{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(-100%);
    }
}




#ekname{
    visibility: hidden;
}


@media(max-width:550px){


    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body{
        background-color: whitesmoke;
        overflow-x: hidden;
    }

    .sidebar{
        visibility: hidden;
    }

   header{
    margin-left: 0px;
     width: 100%;
   }

   .search-container {
    overflow-x: hidden;
    display: flex;
    visibility: visible;
    width: 100%;
    width: 100%;
    padding-bottom: 5px;
}

#outer-search{
    background-color:#ff8800cc ;
}

#searchInput {
    
    display: inline-block;
    visibility: visible;
    text-align: center;
    /* flex: 1; */
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

#ekname{
    display: block;
    visibility: visible;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

#ourteam{
    display: none;
}

   footer{
    display: none;
    visibility: hidden;
   }

   img{
    visibility: hidden;
   margin-left: 0%;
   width: 100%;
   }

   .running-text-container{
    display: none;
    visibility: hidden;
    margin-left: 0px;
    width: 100%;
   }

   footer{
    visibility: hidden;
   }
   
  
  #verticalside{
    visibility: hidden;
    overflow-y: hidden;
    position: fixed;
    animation: verticalSide 5s linear infinite;
}

#verticalsidecontainer{
    visibility: hidden;
    width: 20%;
    height: 50%;
    margin-left: 78%;
}

#form{
    text-align: center;
    border: 2px solid black;
}

a{
    color: black;
    margin-top: 0px;
}

#aa{
    display: inline-block;
    border: 1px solid whitesmoke;
   }
   
   #aa:hover{
    color: rgba(137, 43, 226, 0.444);
    background-color: rgba(137, 43, 226, 0.299);
    border-radius: 5px;
    padding: 2px;
   }


div h2{
    margin-top: 10px;
    margin-left: 10px;
}

.infor2{
    align-items: center;
    display: flex;
    visibility: visible;
    border-radius: 20px;
    background-color: white;
    display: inline-block;
    height: 60px;
    width: 46%;
    margin-left: 2%;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-style: oblique;

}

.infor3{
    visibility: visible;
    display: flex;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    height: 200px;
    width: 75%;
    margin: auto;
    margin-top: 10px;
}

  
.scroll-container {
    display: block;
    overflow-y: hidden;
    visibility: visible;
    margin-left: 2.5% ;
    margin-top:10px ;
    width: 95%;
    white-space: nowrap;
    overflow-x: auto;
}

.scroll-item {
    visibility: visible;
    display: inline-block; 
    width: 50%; 
    height: 180px;
    padding: 5px;
    border-radius: 25px;
    background-color: #ff8800cc;
    text-align: center;
    line-height: 150px;
    font-size: 18px;
}

#btcimg{
    visibility: visible;
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: 20px;
}


.sidebar2 {
    height:100%;
    width: 0;
    position: fixed;
    left: 0;
    background-color:   #ff8800cc;
    color:white ;
    transition: width 0.3s;
    overflow-y: auto;
}

.sidebar2.open {
    width: 100%;
    
}

.sidebar2-content {
   display: flex;
   width: 100%;
}

.open-button {

    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    color: rgba(122, 11, 226, 0.61);
    border-radius: 20%;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 2px;
}

#divopnbtn{
    width: 35%;
}

.btn {
    overflow-y: hidden;
    background-color:#ff8800; 
    border: none; 
    color: black;
    margin: auto;
    padding: 12px 16px; 
    font-size: 30px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  } 
  
 
  .btn:hover {
    background-color: RoyalBlue;
  }


#categories1{
    visibility: visible;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    

}

#h2color{
    color: blue;
}

#p-align{
    margin-top: 10px;
}

#collections1{
    display:block;
    text-align: center;
    align-items: center;
   
}

#lftdiv{
    width: 70%;
    
}

#rtdiv{
    width:30%;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;
    background-color:#ff8800cf;
}

#pinfo{
    margin-top: 20px;
    display: inline-block;
    border: 1px solid black;
    padding: 7px;
    border-radius: 20px;
    font-size: smaller;
    margin-left: 5px;
}

#link{
    margin-top: 40px;
    font-size:small ;
}

a:hover{
    color: blue;
}

#examhead{
    margin-top: 30px;
}

#headname{
    display: none;
}

.running-text-container2{
    display: block;
    overflow: hidden;
    width: 98%;
    background-color: #ff8800cc;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
}

#runningtext2{
    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
    animation: runText 10s linear infinite;
}

.faq-container {
    display: none;
}

.faq-question {
    display: none;
}

#batchbtn{
    background:rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    margin-top: 10px;
}

#batchbtn:hover{
    background: #ccc;
}

#knowledge{
    margin: auto;
    background-color:white;
    margin-top: 20px;
    text-align: left;
}

#pknowlwdge{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
   opacity: 0.6;
    
}

#spkexprt{
    text-align:center;
    align-items: center;
    justify-content: center;
    background-color:#ff8800a2;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 350px;
}

#cntct-dtl{
    background-color: whitesmoke;
    border-radius: 10px;
    width: fit-content;
    width: 60px;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
}
 #cntct-dtl-a{
    color: #ff8800a2;
 }

#spkexprt2{
    text-align:center;
    align-items: center;
    justify-content: center;
    background-color: #ff8800a2;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.input-group{
    background-color: whitesmoke;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px;
}

.input-group input {
    margin-left: 10px;
    height: 45px;
    background: whitesmoke;
    border: none;
}
#submitnum {
    color: #ff8800cc;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#our-sel-out{
    width: 87%;
    margin: auto;
    margin-top: 20px;
    background-color:  #ff8800a2;
    border-radius: 20px;
}

#selection{
    /* border: 2px solid black ; */
    border: none;
    height: 250px;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    overflow-y: auto;
    padding-top: 10px;   
}

#selectionnum{
    animation: verticalSide 10s linear infinite;
    display: inline-block;
    border: 2px solid;
    height: 80%;
    margin: auto;
    margin-top: 25px;
    width: 80%;
    border-radius: 10px;
    
    
}


#privacypolicy{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}


}
